<div class="p-2 border align-self-center"> 
    <div class="container-sm text-dark text-center">
      <div class="container text-center mt-5 "> 
        <div class="description"> 
          <h1>Benvenuti su Mini Meteo: Il tuo punto di riferimento per le previsioni meteorologiche!</h1> 
          <p class="lead">Esplora le previsioni meteorologiche più accurate per la tua zona su Mini Meteo. Ottieni informazioni dettagliate sulle condizioni attuali, temperatura, umidità e non solo. Sia che tu stia pianificando una giornata all'aperto o semplicemente curioso del clima, siamo qui per fornirti le informazioni di cui hai bisogno per prepararti al meglio.</p>
        </div>
      </div> 
    </div>
  </div>
  
